<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <rental>
            <product>
                <rental_attribute>is_rent_available</rental_attribute>
            </product>
            <module>
                <enabled>1</enabled>
                <item_limit>5</item_limit>
                <enabled_for_guest>0</enabled_for_guest>
                <email>1</email>
                <email_to>test@gmail.com</email_to>
                <email_sender>test@gmaim.com</email_sender>
                <email_template>rental_module_template</email_template>
            </module>
            <locations>
                <is_enabled>0</is_enabled>
            </locations>
            <discount>
                <percent_matrix>{"_1716051712054_54":{"start":"0","end":"0","discount":"0"}}</percent_matrix>
            </discount>
        </rental>
    </default>
</config>
