<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--  Logger Declaration  -->
    <type name="PeachCode\RentalSystem\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="PeachCode\RentalSystem\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">rent</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">PeachCode\RentalSystem\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <preference for="PeachCode\RentalSystem\Model\Api\ItemRepositoryInterface"
                type="PeachCode\RentalSystem\Model\CartRepository" />
</config>
